body {
	background-color: #101010;
	color:#f8f8f8;
	font-family: sans-serif;
	max-width: 30cm;
	margin-left: auto;
	margin-right: auto;
	padding-left: 8px;
	padding-right: 8px;
}

pre {
	background-color:#282828;
	overflow: auto;
}

.date {
	font-family: monospace;
}

a {
	color: #9292ff;
}

nav > ul > li {
	display: inline;
	margin-right: 0.3em;
}

img {
	display: block;
	margin: auto auto;
	max-width: 75%;
}

blockquote {
	border-left: solid 5px #aaaaaa;
	padding-left: 10px;
}
