name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install Hugo
      run: |
        wget https://github.com/gohugoio/hugo/releases/download/v0.136.5/hugo_extended_0.136.5_linux-amd64.deb -qO /tmp/hugo.deb
        sudo dpkg -i /tmp/hugo.deb
        sudo apt-get install -fy
        rm -v /tmp/hugo.deb
    - name: Generate
      run: |
        git checkout "${{ github.sha }}"
        mkdir -p ../public
        hugo -d ../public --minify --buildFuture
    - name: Commit
      run: |
        git checkout gh-pages
        git clean -fdx
        rsync --archive --verbose --checksum ../public/ .
        rm -r ../public/
        git add .
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git commit -am "Deploy ${{ github.sha }}"
    - name: Push
      run: |
        git push
